<h1>Rishi Ghan</h1>
<p>is working on his new website, check back soon!</p>

<% @posts.each do |post| %>
  <h3><%= post.title %></h3>
  filed under: <%= @catname.category_name %>
  <br><br>
   <%= post.content %><br><br>
   
    	
    	
   <br><br>
   
<%end%>
