<h1>Rishi Ghan</h1>
<p>
	is working on his new website, check back soon!
</p>
<div id="nav"></div>
<div class="carousel-container">

</div>
<div class="row">
	<span class="span4" >Featured Product from the store!</span>
	<span class="span2" > This that and the other.This that and the otherThis that and the other </span>
	<span class="span6"> 
		<% @posts.each do |post| %> 
		<h3><%= post.title %></h3> 
		filed under 
		<p>
			<!--
			<% post.attachments.each do |attach| %>
			<%= image_tag attach.photo.url(:thumb)%>
			<% end%>
			-->
		</p>
		<p>
			<%= markdown post.content %>
		</p>
		<hr>
		<%end%> </span>
</div>
