<div id="nav"></div>

<div class="row">
	<span class="span10">
		<h2>Archive</h2>
	
	
		<% @post_months.keys.sort.reverse.each do |month| %>
		<span class="span3">
			<h3><%= month.strftime('%B %Y')%></h3>
			<hr>
			<% @post_months[month].each do |post| %>
				<h4><%= link_to	post.title , blog_post_path(:id=>post.id) %> / 
				<%= post.created_at.strftime('%d %B') %></h4>			
			<%end%>
			
		</span>
		<% end -%>
		
	</span>	

</div>
