<h1>Rishi Ghan</h1>

<div id="nav"></div>

<div class="row">

	<span class="span8"> 
		<!-- TODO: comma separated categories -->
		<% @posts.each do |post| %> 
		<h3><%= post.title %></h3> 
		filed under <%= post.categories.map{|cat| cat.category_name}.to_sentence(:last_word_connector=>", and ")  %>
		
		<p>
			<!--
			<% post.attachments.each do |attach| %>
			<%= image_tag attach.photo.url(:thumb)%>
			<% end%>
			-->
		</p>
		<p>
			<%= markdown post.content %>
		</p>
		<hr>
		<%end%> </span>
</div>
