<%= title controller.action_name.capitalize %>	

<!-- colophon -->
<span class="span6">
	<%@post.each do |post|	%>
	
	<h2><%= post.title %></h2> 
	
	<%= markdown post.content %>
	<p align="center">&tilde;</p>
	
	<%end%>
</span>
	

