// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing
{
  list-style:none;
}

.list_even
{
 
  background:#CCC;
  padding:10px;
}

.list_odd
{
  background:#FFFFFC;
  padding:10px;
 
}
