<h1>Editing post</h1>
<br>

<div class="btn-group">
<%= link_to 'Show', admin_post_path(@post), :class=>"btn btn-mini" %> 
<%= link_to 'Back', admin_post_path, :class=>"btn btn-mini" %>
</div>
<br>

<%= render 'form' %>


