<div class="btn-group">
<%= link_to 'Show', admin_product_path(@product), :class=>"btn btn-mini" %> 
<%= link_to 'Back', admin_products_path, :class=>"btn btn-mini" %>
</div>
<br>


<%= render 'form' %>

