// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav a 
{ 
  border: 1px solid #ccc;
   background: #fc0; 
   text-decoration: none; 
   margin: 0 5px; 
   padding: 3px 5px;  
}
   
   
#nav a.activeSlide 
{ 
  background: #ea0 
}
  
#nav a:focus 
{
   outline: none;
}