// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-carousel
{

 img
{
  display:block;
  max-width:100%;
  
}
}


#carousel-nav  

{ 

top:-50px;
position:relative;
text-align:center;
z-index:99;



a
{

  	background: url('/assets/navdot.png') 0 0 no-repeat; 
	padding:3px 18px 0 0;
	text-decoration:none;
	margin:0 0 0 4px;
	width:18px;
	height:8px;
	
	
	&:visited {background:#CCC;}
  	&:hover
	{
	background:url('/assets/navdot.png') 0 -18px no-repeat;
	}
	

	
}

	.activeSlide 
	{ 
  		background:url('/assets/navdot.png') 0 -18px no-repeat;
	}

	

}
   
