// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-carousel
{

 img
{
  display:block;
  max-width:100%;
  
}
}


#carousel-nav  

{ 

top:-50px;
position:relative;
text-align:center;
z-index:99;



a
{

  	background: url('/assets/navdot.png') 0 0 no-repeat; 
	padding:3px 18px 0 0;
	text-decoration:none;
	margin:0 0 0 4px;
	width:18px;
	height:8px;
	
	
	&:visited {background:#CCC;}
  	&:hover
	{
	background:url('/assets/navdot.png') 0 -18px no-repeat;
	}
	

	
}

	.activeSlide 
	{ 
  		background:url('/assets/navdot.png') 0 -18px no-repeat;
	}

	

}
   
.slide
{	
	//important for the images to make the jump to the responsive side.
	max-width:100%;
}   


// For the home page hero carousel
// Rishi Ghan 
// OM SHREE DATATTRAYA NAMAHA
.hero-module
{
	height:304px;
	max-width:100%;
	margin-bottom:30px;

		//images
		img
		{
		max-width:100%;
		}
		
		//top left corner
		.tleft
		{
			z-index:99;
			position:absolute;
			width:13px; 
			height:13px;
			top:0;
			left:0;
			background:url('/assets/corners/tl.png') 0 0 no-repeat;
		}

		//top right corner
		.tright
		{
			z-index:99;
			position:absolute;
			width:13px; 
			height:13px;
	     	top:0;
			right:0;
		 	background:url('/assets/corners/tr.png') 0 0 no-repeat;
		}
		
		//bottom right corner
		.bright
		{
			z-index:99;
			position:absolute;
			bottom:0;
			width:13px; 
			height:13px;
		    bottom:0;
			right:0;
			
		    background:url('/assets/corners/br.png') 0 0 no-repeat;
		}
		
			//bottom left corner
			.bleft
			{
				z-index:99;
				position:absolute;
				width:13px; 
				height:13px;
			    bottom:0;
				left:0;
				
			    background:url('/assets/corners/bl.png') 0 0 no-repeat;
			}
		
	
	

}


.hero-carousel-nav
{
position:relative;
border:1px solid red;
width:300px;


}

