// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#attachments {
  
  background:#FFFFFC;
  border:1px solid #999;
  padding:10px;
  
}

#citations{
  display:none;
  
  background:#FFFFFC;
  border:1px dotted #999;
  padding:10px;
}
