// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#storecontainer  
{
  form, form div
  {
    display:inline;
  }
  
}

.price
{
  font-weight:bold;
  font-size:16pt;
}


/* Store items display */
.store-items 
{
  
  float:left;
  padding:10px;
  
  
 
}


/* Cart */
#cart table 
{
    input
    {
      display:inline;
    }
    td
    {
      padding:10px;
    }

   td.quantity
    {
      text-align:left;
      font-size:87.78%;
    }



    td.price
    {
      text-align:left;
      font-size:87.78%;
    }



    td.total
    {
      background:#FFFCCC;
      font-size:110%;
      font-weight:bold;
    }
  
}


/* Order Form */
.address
{
  border:1px solid #CCC;
  height:130px; 
    
  .streetaddress, .state, .zipcode
  {
    float:left;
       
  } 
  
}
.firstname
{
  float:left;
}

.phone, .email, .pay_type
{
  clear:both;
}

.payment_details
{
  border:1px solid #CCC;
  background:#FFFFFC;
}

